/*  Logo Tab */
body {
    font-family: 'Cormorant SC', serif;
    margin: 0;
    background-color: #27273b 
}
nav {
    background-image: linear-gradient(0deg, #27273b 0%, #101015 100%);
}
.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coctail {
    width: 6%;
}
.title{
    color: antiquewhite;
    font-size: 40px;
    text-align: center;
    margin: 0;
}
.gradient_one {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #5da5c9, #d494de, #7b97bb, #4169e1, #8a2be2);
    width: 100%; 
    margin: 0 auto;
}
.gradient_two {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #8a2be2, #4169e1, #7b97bb, #d494de, #5da5c9);
    width: 100%; 
    margin: 0 auto;
}
/*  Navigation Tab */
.container {
    max-width: 1200px;
    margin:0 auto;
    padding: 0 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#coctail-name-filter, #category-select, #glass-type-select, #ingredient-select {
    background-color: #c0b1c381;
    border: none;
    padding: 0.5rem;
    border-radius: 6px;
    color: antiquewhite;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(164, 200, 232, 0.539);
}
.buton {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: antiquewhite;
    background-color: #c0b1c381;
}
.buton:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(247, 228, 204, 0.892);
    color:  rgb(0, 0, 0);
    opacity: 0.8;
    box-shadow: 1px 1px 10px rgba(164, 200, 232, 0.539);
} 
.butonReset {
    display: none;
    width: 100%;
    padding: 5px 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: antiquewhite;
    background-color: #c0b1c33a;
}
.butonReset:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(203, 181, 211, 0.716);
    color:  rgb(0, 0, 0);
    opacity: 0.8;
    box-shadow: 1px 1px 10px rgba(164, 200, 232, 0.539);
}
.note{
    display: none;
    background-color: rgba(250, 235, 215, 0.107);
    color: antiquewhite;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;  
    max-width:80%;   
    margin: auto;
}
.alphabet-letters, .alphabet-numbers {
    display: flex;
    gap: 16px;
}
.alphabet-letters a, .alphabet-numbers a {
    background-color: transparent;
    color:  #f4cff4;
    text-shadow: 1px 1px 6px rgba(250, 235, 215, 0.405); 
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}
.alphabet-letters a:hover, .alphabet-numbers a:hover {
    transition: transform 0.3s ease-in-out;
    color:  #f28cf2;
    transform: scale(1.8);
}
/*  Drinks Tab */
.drinks {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 3rem;
}
.drink {
    box-shadow: 1px 2px 13px rgba(164, 200, 232, 0.539);
    background-color: #c0b1c322;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    cursor: pointer;
}
.drink:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    background-color: rgba(247, 228, 204, 0.892);
    opacity: 0.8;
    box-shadow: 1px 1px 40px rgba(164, 200, 232, 0.539);
} 
.drink .drink-title{
    color:  #e4cbe4;
    text-shadow: 1px 1px 6px rgba(250, 235, 215, 0.405); 
    padding: 20px 20px 0px 20px; 
    font-size: 20px;
}
.drink:hover .drink-title {
    color:  #460b46;
    text-shadow: 3px 3px 16px rgba(250, 235, 215, 0.405); 
}
.drink img{
    width: 100%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 40%;
}
.noteOfDrinks {
    display: none;
    background-color: rgba(250, 235, 215, 0.107);
    color: antiquewhite;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;  
    max-width:80%;   
    margin: auto;
}
/*  Modal Window */
.modal-bg {
    /* nebus problemu su scroll - goes on top of page */
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    /* kad modal window butu per viduri */
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: kad hr nebutu on top of modal */
    z-index: 1;
    /* paslepti modal kai puslapis atidaromas */
    display: none;
}
/* modal klase neveikia su bootstrap */
.modal-w {
    /* kad butu galima x mygtuka pozicijonuoti su position:absolut */
    position: relative;
    background-image: linear-gradient(0deg, #413d4c 0%, #1b191e 100%);
    color: antiquewhite;
    max-width: 1000px;
    max-height: 600px;
    box-shadow: 1px 1px 20px rgba(164, 200, 232, 0.539);
    overflow-y: scroll ;
    /* kad close button butu per viduri */
    display: flex;
    align-items: center;  
    flex-direction: column;  
}
.two-sides {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
}
.modal-img {
    /* kad nuotrauka butu per viduri */
        margin: 0 auto;
        display: block;
        width: 80%;
}
.modal-close-button-x {
    position: absolute;
    right: 3%;
    top: 2%;
    font-size: 22px;
    cursor: pointer;
    color: #d0c3b8;
}
.modal-close-button {
    cursor: pointer;
    font-size: 20px;
    color: #d0c3b8;
}
.modal-close-button:hover,  .modal-close-button-x:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color:  #ffbbff;
    text-shadow: 1px 1px 10px antiquewhite; /* horizontal, vertical, blur, color */
}
.modal-details {
    width: 50%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    font-family: 'Cormorant Garamond', serif;
}
.row {
    margin-left: 7%;
}
.height {
    line-height: 14px;
}
/* recipe text align */
.justify-text {
    text-align: justify;
}
.left {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.dark {
    color:  #b08ab0;
    text-shadow: 1px 1px 6px rgba(250, 235, 215, 0.405); 
}
#modal-alcohol {
    color:  #fe9efe;
    text-shadow: 1px 1px 6px rgba(250, 235, 215, 0.405); 
    text-decoration: none;
}
#modal-alcohol:hover {
    transform: scale(1.1);
    transition: transform 0.9s ease-in-out;
    text-shadow: 1px 1px 10px antiquewhite;
}
/*  Responsive */
@media only screen and (max-width: 1137px) {
    .modal-w {
        margin: 0 50px;
    }
    .alphabet-letters, .alphabet-numbers {
        gap: 13px;
        margin: 0 50px;
    }
}
@media only screen and (max-width: 985px) {
    .modal-w {
        overflow-y: scroll ;
        height: 80%;
    }
    .two-sides {
        display: flex;
        flex-direction: column;
    }
    .modal-details{
        margin-left: 20%;
        width: 60%;
    }
    .modal-title {
        font-size: 35px;
    }
    .modal-img{
        width: 60%;
    }
    .alphabet-letters, .alphabet-numbers {
        gap: 10px;
        margin: 0 50px;
    }
}
@media only screen and (max-width: 860px) {
.coctail {
    width: 12%;
    margin-top: 20px;
    }
.inputs {
    flex-direction: column;
    align-items: center; 
    width: 80%;
    }
.buton {
    width: 70%;
    }
.drinks {
    grid-template-columns:1fr 1fr;
    }    
.container {
    padding: 0 50px;
    } 

.drink .drink-title{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px 30px 10px 30px;
    }   
.alphabet-letters, .alphabet-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    }     
}
@media only screen and (max-width: 630px) {  
    .coctail {
        width: 15%;
        margin-top: 20px;
    }
    .drinks {
        grid-template-columns:1fr;
        width: 80%;
    }  
}